// COLORS

$white: #FFFFFF;
$black: #000000;
$darkgrey: #666666;
$lightgrey: #999999;
$primary: #00D1B2;
$link: #3273DC;
$info: #209CEE;
$success: #23D160;
$warning: #FFDD57;
$danger: #FF3860;
$hover: #434343;
$disabled: #999999;
